.hidden {
    display: none;
}
#main-header nav {
    text-align: center;
}
#main-header nav button{
    margin: 10px 20px;
    padding: 10px;
    border-radius: 6px;
}
#main-header nav button:hover{
    cursor: pointer;
}